/* ! GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.float-left {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Lato', sans-serif;
    background: rgb(214,219,215);
    background: linear-gradient(0deg, rgba(214,219,215,1) 80%, rgba(0,151,136,1) 80%);
}

/* ! TYPOGRAPHY */
i {
    font-size: 22px;
    color: #b1b1b1;
}

/* ! CONTAINER */
.container {
    width: 1200px;
    height: 90vh;
    margin: 5vh auto;
}

/* ! ASIDE */
#aside {
    width: 35%;
    height: 100%;
    border-right: 1px solid lightgrey;
    background-color: grey;
}

/* ! HEADER */
.header {
    height: 70px;
    padding: 10px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 100%;
    margin-right: 15px;
    border-radius: 50%;
    background-color: #f2f2f2;
}

.header-icons {
    padding: 0 5px;
}

.header-icons i {
    padding: 0 7.5px;
}

/* ! NOTIFICATIONS */
#notifications {
    height: 70px;
    background-color: #8edafc;
}

/* ! SEARCH BAR */
#search-bar {
    height: 40px;
    background-color: #fafafa;
}

/* ! CONTACTS */
#contacts {
    height: calc(100% - (70px + 70px + 40px));
    background-color: white;
    overflow-y: scroll;
}

/* ! CHAT */
#chat {
    width: 65%;
    height: 100%;
}

.recipient {
    height: 100%;
    display: flex;
}

.recipient-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-name {
    font-weight: 700;
}

.last-seen {
    color: #b1b1b1;
}

/* ! MAIN */
#main {
    height: calc(100% - (70px + 70px));
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    background-size: cover;
    overflow-y: scroll;
}

/* ! FOOTER */
#footer {
    height: 70px;
    background-color: #f4efe9;
}
